
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');

.name {


  position:fixed;

  display: flex;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */


  font-family: 'Almarai', sans-serif;
  background: -webkit-linear-gradient( rgb(253, 116, 108),rgb(102, 174, 246));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
  font-size: var(--font-size);
  

}

.p2 {
  position: relative;
  top:4000px;
}

.entre {
  color: blue;
  
}